arang==1.0
chardet==5.1.0
charset-normalizer==2.0.12
chromedriver-autoinstaller==0.4.0
dnspython==2.2.1
idna==3.4
loguru==0.6.0
pyfiglet==0.8.post1
PySocks==1.7.1
requests==2.28.1
selenium==4.7.2
socks==0
sortedcontainers==2.4.0
urllib3==1.26.12
xmltodict==0.13.0
pywin32==305
Jinja2>=3.0.0
certifi>=2017.4.17
cryptography>=2.8
cffi>=1.14.0
defusedxml>=0.7.0
markupsafe>=2.0.0
pyopenssl>=21.0.0
requests_ntlm>=1.1.0
colorama>=0.4.4
ntlm_auth>=1.5.0
pyparsing>=2.4.7
beautifulsoup4>=4.8.0
mysql-connector-python>=8.0.20
psycopg[binary]>=3.0
